In [30]:
from bs4 import BeautifulSoup
import feedparser
from datetime import date
import pandas as pd
import re  
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
stop_words = set(stopwords.words('english'))

In [31]:
data_level1=['arabl land','avail data','bureau statist','busi survey','cens publi','cens pop','children employ','civil registr','collect method','commerci export','complet rate','consum electr','consum energ','data access','data collect','data compil','data entri','data manag','data releas','data standard','data user','demograph data','densit popul','develop data','difusion dat','direct statist','disaggreg data','electr access','electr consumpt','energi consumpt','establish survey','exchang rate','extern debt','fertil rate','food import','food product','gender gap','govern debt','govern statist','gross domest','gross nation','health expenditur','health survey','import marchandis','improv data','improv statist','indic measur','indic preci','inflat rate','institut statist','interest payment','intern tourism','irrig land','land use','life expect','livestock product','merchandis export','merchandis trade','model statist','mortal rate','multilater debt','nation account','nation statist','nation survey','national brut','national statist','open data','part revenus','pay gap','popul census','popul growth','popul rate','price index','produccion aliment','purchas power','qualiti data','receit fiscal','releas data','revenu fiscal','rural popul','servic export','statist agenc','statist author','statist avail','statist committe','statist data','statist depart','statist national','statist offic','statist servic','statist studi','survey catalogu','tax payment','tax revenu','trade balanc','unemploy rate','use data','water suppli','youth unemploy']
data_level_indicator = [' cpi ', ' fdi ', ' gdp ', ' gnp ', ' hdi ', ' wdi ']

In [50]:
pd.read_csv('newspaper/static/datasets/ok.csv').dropna().to_csv('newspaper/static/datasets/ok.csv', index=False)

In [33]:
def level1_count(article):
    word_tokens = word_tokenize(article.lower().rstrip()) 
    filtered_sentence = [w for w in word_tokens if not w in stop_words] 
    
    article = ' '.join(filtered_sentence)  
    keyword_list = []
    for word in data_level1:
        search_ = (r"\b"+word.split()[0]+r"[a-zA-Z]*\s\b"+word.split()[1]+"[a-zA-Z]*")
        if re.search(search_, article):
            keyword_list.append(word)
    for word in data_level_indicator:
        if (word in article):
            keyword_list.append(word)
    return keyword_list

In [55]:
df_OK = pd.read_csv('newspaper/static/datasets/ok.csv')

In [56]:
df_OK.isna().sum()

url               0
content           1
category          0
published_date    0
dtype: int64

In [37]:
df_OK = df_OK['content'].apply(level1_count)

In [38]:
df_OK

0      []
1      []
2      []
3      []
4      []
       ..
413    []
414    []
415    []
416    []
417    []
Name: content, Length: 418, dtype: object

In [39]:
df_HT = pd.read_csv('newspaper/static/datasets/ht.csv')

In [42]:
df_HT.

,url,content,category,published_date
0,https://thehimalayantimes.com/finance/analysis...,\r\nFOREIGN AID PLAYS A CRITICAL ROLE IN INFRA...,/analysis,"Sun, 27 Sep 2015 14:12:37 +0000"
1,https://thehimalayantimes.com/finance/analysis...,\r\nEXPERTS OPINE THE LOSS INCURRED BY THE COU...,/analysis,"Sat, 26 Sep 2015 19:45:19 +0000"
2,https://thehimalayantimes.com/finance/analysis...,KATHMANDU: Coca-Cola recently came up with a c...,/analysis,"Sun, 20 Sep 2015 14:08:57 +0000"
3,https://thehimalayantimes.com/finance/analysis...,THERE IS NO CLARITY ON THE GOVERNMENT’S PLANS ...,/analysis,"Sun, 20 Sep 2015 13:41:56 +0000"
4,https://thehimalayantimes.com/finance/analysis...,"By working only 66 days a year, will we be abl...",/analysis,"Sun, 13 Sep 2015 11:15:42 +0000"
...,...,...,...,...
4947,https://thehimalayantimes.com/world/finland-to...,HELSINKI: Finland’s woman-led center-left gove...,/world,"Wed, 05 Feb 2020 08:49:55 +0000"
4948,https://thehimalayantimes.com/world/unknowns-o...,SEOUL: Health authorities are scrambling to ha...,/world,"Wed, 05 Feb 2020 06:29:44 +0000"
4949,https://thehimalayantimes.com/world/china-viru...,"\n\nDeath toll in mainland China rises by 65, ...",/world,"Wed, 05 Feb 2020 01:35:14 +0000"
4950,https://thehimalayantimes.com/world/hong-kong-...,"\n\nMan dies in Hong Kong, taking global toll ...",/world,"Tue, 04 Feb 2020 14:01:01 +0000"
4951,https://thehimalayantimes.com/world/rushing-do...,NAIROBI: Fourteen children were killed in a st...,/world,"Tue, 04 Feb 2020 12:33:21 +0000"